body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color:#3a3a3a;
    background-image: url("../assets/img/topographicmapbackgroundlighter.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
}
li {
    font-size: medium;
    font-weight: normal;
}
a {
    color: #3a3a3a;
    text-decoration: none;
}
a:hover, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #3a3a3a;
}
.bold {
    font-weight: bold;
}
.textcenter {
    display: block; 
    text-align: center;
    margin: 10px 0;
}
.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
.regularfont {
    font-weight: normal;
}
.largefont{
    font-size: large;
}
.underlinetext{
    text-decoration: underline;
}